.container {
    padding: 1em;
}

.chamber-members h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    background-color: #efefef;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo {
    display: flex;
    gap: 1em;
    align-items: center;
}

.header-container .logo span {
    font-weight: bolder;
}

.header-container img {
    height: 26px;
}


.nav-container-list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    justify-content: center;
}

.nav-container-list a {
    display: inline-block;
    padding: 0.5em;
}

.nav-container {
    display: none;
}

.nav-container-open {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}


.nav-item {
    font-weight: bold;
    text-decoration: none;
    color: black;
}


.nav-container-list .active {
    position: relative;
    font-weight: bold;
    color: var(--primary);
}

.nav-container-list .active::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #252525;
    position: absolute;
    left: 10px;
    bottom: 0;
}


#nav-button {
    background-color: transparent;
    border: none;
    padding: .3em;
    cursor: pointer;
    color: black;
}

#nav-button-close-icon {
    display: none;
}


.chamber-members h1 {
    text-align: center;
    padding: 0.5em;
}

.view-toggle {
    text-align: center;
    margin-bottom: 20px;
}

.view-toggle button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 99px;
    border: none;
}


.hero-section {
    left: 0;
    top: 0;
    /*width: 100%;*/
    position: relative;
    /*background: red;*/
    background-image: url(../images/chamber-hero.jpg);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}


.hero-section a {
    position: absolute;
    bottom: 5em;
    right: 5em;
    background-color: #ffffff;
    padding: 1em 2em;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    border-radius: 4px;
}

.hero-section a:hover {
    background-color: #dcdcdc;
}

.home-container {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
}


.card {
    background-color: white;
    border-radius: 4px;
    overflow: clip;
    border: 1px solid #e6e6e6;
}

.card-header {
    padding: 0.5em;
    background-color: var(--secondary-light);
    font-size: 1.1em;
    font-weight: 500;
}

.card-subheader {
    padding: .6em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .6em;
    border-bottom: 1px solid var(--secondary-light);
}

.card-subheader button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em 1.6em;
    background-color: black;
    border: none;
    color: white;
    border-radius: 0.4em;
    cursor: pointer;
    width: 100%;
}

.card-subheader button:hover {
    background-color: #434343;
    transition: all .1s ease-in-out;
}


.card-body {
    min-height: 4em;
    padding: 1em;
}


#current-weather .current {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


#forecast-weather ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#member-list {
    padding: 1em;
}

#member-list.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#member-list.list-view {
    display: block;
}

#member-list.list-view .member-card {
    margin-bottom: 1em;
}

.member-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #fefefe;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 10px;
}

.member-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.member-card .member-info {
    flex: 1;
}

.list-view .member-card {
    flex-direction: row;
}

.grid-view .member-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.spotlights-container {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
}

.spotlight-card {
    border: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.spotlight-card .header h3, p {
    margin: 0;
}

.spotlight-card .header {
    border-bottom: 1px solid #e6e6e6;
    padding: 0.6em;
}

.spotlight-card .body {
    display: flex;
    gap: 1em;
    padding: 0.6em;

}

.spotlight-card .body img {
    width: 4em;

}

.spotlight-card .body .detail-div {
    display: flex;
    flex-direction: column;
    gap: 2px;

}


.footer-container {
    display: grid;
    gap: 3em;
}

.footer-container .social-icons {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.footer-container .social-icons img {
    height: 40px;
}