.container {
    padding: 1em;
}

.chamber-members h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    background-color: #efefef;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-container .logo {
    display: flex;
    gap: 1em;
    align-items: center;
}

.header-container .logo span {
    font-weight: bolder;
}

.header-container img {
    height: 26px;
}


.nav-container-list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    justify-content: center;
}

.nav-container-list a {
    display: inline-block;
    padding: 0.5em;
}

.nav-container {
    display: none;
}

.nav-container-open {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
}


.nav-item {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#nav-button {
    background-color: transparent;
    border: none;
    padding: .3em;
    cursor: pointer;
    color: black;
}

#nav-button-close-icon {
    display: none;
}


.chamber-members h1 {
    text-align: center;
    padding: 0.5em;
}

.view-toggle {
    text-align: center;
    margin-bottom: 20px;
}

.view-toggle button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 99px;
    border: none;
}


#member-list {
    padding: 1em;
}

#member-list.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

#member-list.list-view {
    display: block;
}

#member-list.list-view .member-card {
    margin-bottom: 1em;
}

.member-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #fefefe;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 10px;
}

.member-card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.member-card .member-info {
    flex: 1;
}

.list-view .member-card {
    flex-direction: row;
}

.grid-view .member-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.footer-container {
    display: grid;
    gap: 3em;
}

.footer-container .social-icons {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}

.footer-container .social-icons img {
    height: 40px;
}