:root {
    --primary: #283618ff;
    --primary-light: #606c38ff;
    --secondary: #bc6c25ff;
    --secondary-light: #ffd6a5;
    --background: #fefae0ff;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: var(--primary-light);
    margin: 0;
}

nav {
    background: var(--primary);
    margin: 0;
}

footer {
    background: #252525;
    color: var(--background);
}